<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}">
</head>

<body>
<header class="navbar">
    <h1>LIVE CHAT</h1>
    <nav>
        <div class="container">
           <div>
                <ul class="menu">
                        <li>
                            <a href="/" title="">Home</a>
                        </li>
                        <li>
                            <a ng-href="https://store.google.com/" target="_blank" title="Aplikacje" href="https://store.google.com/">Aplikacja</a>
                        </li>
                       
                        <li>
                            <a ng-href="/options" title="Options" href="/options">Kontakt</a>
                        </li> -->
                    </ul>
        </div>
    </div>
    </nav>
</header>
<div class="content">
    What you can do while chatting:
    </br>
    1 - ban one of the user with the command: /ban (name of user)
    </br>
    2 - kick out the user with the command: /kick (name of user)
    </br>
    3 - show online users: /online
    </br>
    3 - show online users' IP: /ip

</div>


<footer>

    © LiveChat

</footer>
</body>
</html>